@model List<WebApp.Models.TodoItem>

@{
    ViewBag.Title = "To Do List";
}

<html>
<body>
    <br />
    <h5>Scopes</h5>
<textarea rows="2" cols="50"></textarea>
    <br />
    <button type="button">Get Application Token</button>
    <br />
    <br />
    <form action="/action_page.php" method="get">
        <input type="checkbox" name="refresh" value="forceRefresh">Force Refresh<br />
        <button type="button">Acquire Token Silent</button>
    </form>
    <br />
<h5>Access Token:</h5>
    <textarea rows="5" cols="60"></textarea>
<br />
<br />
    @if (ViewBag.ErrorMessage == null)
    {
        <form name="input" action="Todo" method="post">
            New Item: <input type="text" name="item">
            <input type="submit" value="Submit">
        </form>
    }

    <table class="table table-bordered table-striped">

        <tr>
            <th>Item Name</th>
        </tr>

        @foreach (var i in Model)
        {
            <tr>
                <td>@i.Title</td>
            </tr>
        }

    </table>

    @if (ViewBag.ErrorMessage == "AuthorizationRequired")
    {
        <p>You have to sign-in to see your to do list. Click @Html.ActionLink("here", "Index", "Todo", new { reauth = true }, null) to sign-in.</p>

    }

    @if (ViewBag.ErrorMessage == "UnexpectedError")
    {
        <p>An unexpected error occurred while retrieving your to do list. Please try again. You may need to sign-in.</p>
    }
</body>
</html>